@import "./Constant.scss";

.operation-kline {
  position: relative;
  display: block;
}

.top-bar {
  position: relative;
  display: block;
  height: 40px;
  background: $light-grey;
  border: 1px solid $light-grey;

  & .navbar-brand {
    color: $white;
    font-size: 2.5em;
    line-height: 0.5em;
    font-weight: 800;
    background-image: $logo-line-bk-small;
    background-repeat: no-repeat;
    background-size: 110px 25px;
    width: 110px;
    height: 25px;
  }
}

.main-dashboard {
  position: relative;
  width: 100%;
  display: flex;
}

.sidebar {
  position: relative;
  height: 100vh;
  flex: 4%;
}

.main-screen {
  position: relative;
  flex: 96%;
}
