$images-path-url: "../images";

$base-color: #284EDB;
$dark-blue: #0389E5;
$medium-green: #13CF36;
$light-grey: #eaeaea;
$white: #ffffff;
$bg-main-screen: #F1F3F6;

$logo-line-bk-small: url($images-path-url + '/logo/line-bk-logo-symbol.png');
$logo-line-bk-medium: url($images-path-url + '/logo/line-bk-logo-symbol@2x.png');
$logo-line-bk-large: url($images-path-url + '/logo/line-bk-logo-symbol@3x.png');
$logo-line-bk: url($images-path-url + '/logo/logo-line-bk.svg');