@import "./Constant.scss";

.Polaris-Page {
  background: $white;
  border-radius: 10px;
  max-width: 95% !important;
}

.send-notification-to-customer-modal {
  position: relative;
  display: block;

  .description-panel {
    font-size: 1.3em;
  }

  .message-select {
    .message-list {
      margin-top: 10px;
      height: 200px;

      .Polaris-Card {
        height: 100%;
        overflow-y: auto;
      }
    }

    .input-message {
      margin-top: 10px;

      .Polaris-FormLayout__Item {
        .icon-refresh {
          width: 150px;
        }
      }

      .Polaris-ChoiceList {
        ul {
          display: block;

          li {
            display: inline-block;
            margin-right: 10em;
          }
        }
      }
    }
  }
}
