@import "./Constant.scss";

$show-navbar-collapse: true !default;

@mixin collapseToggle($toggle) {
  @if $toggle {
    @debug "$boolean is #{$show-navbar-collapse}";
    $show-navbar-collapse: true;
    color: $show-navbar-collapse;
  } @else {
    @debug "$boolean is #{$show-navbar-collapse}";
    $show-navbar-collapse: false !default;
    color: $show-navbar-collapse;
  }
}

@function sidebarHide($show-navbar-collapse) {
  @if $show-navbar-collapse {
    @return block;
  } @else {
    @return none;
  }
}

.sidebar {
  .navbar.navbar-left {
    position: relative;
    align-items: flex-start;
    padding: unset;
    display: block;
    border: none;
    max-width: 200px;
  }

  & .navbar-brand {
    color: $white;
    font-size: 2.5em;
    line-height: 0.5em;
    font-weight: 800;
    background-image: $logo-line-bk-small;
    background-repeat: no-repeat;
    background-size: 110px 25px;
    background-position: center;
    background-color: $white;
    display: block;
    width: 100%;
    height: 50px;
  }

  & .navbar-brand-logo {
    background-image: $logo-line-bk;
    background-repeat: no-repeat;
    background-size: 21px 27px;
    background-position: center;
    background-color: $white;
    display: block;
    width: 100%;
    height: 50px;
  }

  .navbar-left {
    background: $dark-blue;
    border: 1px solid $dark-blue;
    color: $white;
    width: auto;
    border-radius: 0;
    height: 100%;
  }

  .navbar-nav {
    display: inline-block !important;
    .nav-item {
      margin: 10px;
      .nav-link {
        display: flex;
        font-size: 1.3em;
        font-weight: 600;
        line-height: normal;
        
        .Polaris-Icon {
          display: inline-block;
          margin-right: 1em;
          top: auto;
          flex: 0.13 1;
          svg {
            fill: $light-grey;
          }
        }

        .nav-menu-name {
          display: inline-block;
          width: 130px;
          flex: 1 1;
          margin: auto;
        }
      }
    }
  }

  .navbar-left .navbar-nav {
    & li {
      float: none; /* Cancel default li float: left */
      width: auto;
      & a {
        color: $light-grey;
      }
    }
  }

  .navbar-left + .container {
    padding-left: 160px;
  }
}
